/icon
/provincia_superficie/coord_posgar.png
/provincia_superficie/Informe_supercies_de_Argentina.pdf
/provincia_superficie/pcias.gpkg
/provincia_superficie/posgar 2007.jpg
/corazon_gif/viz.mp4
/provincia_rectangulo/iterations
/provincia_rectangulo/images_no_title
/nombres
/provincia_circulo
/mapa_topografico/arg_continental.R

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
